
   .row::after{
       content: "";
       clear: both;
       display: table;
}
.row--gutters{
    padding-right:-65px;
}

.row--gutters-small{
    margin-right: -45px;
}
.row--gutters-large{
    margin-right: -100px;
}
.row--gutters > div{
    padding-right: 65px;
}
.row--gutters-large > div{   /* > here stands for direct children of div */

padding-right:100px;
}

.row--gutters-small > div{
    padding-right: 45px;

}

.row__b-margin-until-medium{
    margin-bottom: 1rem;   

@media(min-width: 530px){
    margin-bottom: 0;
}
}
.row__medium-4{
    margin: center;
    width: 100%;

    @media(min-width: 840px){
        float: left;
        width: 33.33%;
    }
}

.row__medium-4-larger{
    float: left;
    width: 100%;

    @media(min-width: 840px){
        width: 37%;
    
    }
}

.row__medium-6{
   
    float: left;
    width: 50%;
}

.row__medium-8{
    margin: center;
    width: 100%;  

    @media(min-width: 840px){
        float: left;
        width: 66.66%;  
    }
}

.row__medium-8-smaller{
    width: 100%;

    @media(min-width: 840px){
        width: 63%;
    }

}


.row__b-margin-until-large{
    margin-bottom: 1rem;   

@media(min-width: 1080px){
    margin-bottom: 0;
}
}
.row__large-4{
    float: left;
        width: 100%;

    @media(min-width: 840px){
        float: left;
        width: 33.33%;
    }

}

.row__medium-4-larger{
    width: 37%;
}

.row__medium-6{
    float: left;
    width: 50%;

}
.row__medium-8{
    float: left;
    width: 66.66%;  
}

.row__medium-8-smaller{
    width: 63%;

}


.row--t-padding{

padding-top: 80px;
}
/*Begin Equal Height Rules*/
.row--equal-height-at-large{

    @media(min-width:530px){
        display: flex;
    }
    & > div{
        float: none;
        display: flex;
    
    }
@media(min-width:1080px){
    display: flex;
}
& > div{
    float: none;
    display: flex;

}
}